.main {
    height: 100%;
    display: grid;
    grid-template-columns: 20rem 20rem;
    width: calc(40rem + 80px);
    
    @media (max-width: 900px) {
        grid-template-columns: 20rem;
        width: calc(20rem + 80px);
    }

}

app-linkcard {
    width: 20rem;
}